.post-creator-container{
    position: relative;
    top:5vh;
}
.post-creator-title{
    position: relative;
    top:5vh;
    margin: auto;
    font-size: 4rem;
    text-align: center;
}
.post-creator-inner-container{
    position: relative;
    top:10vh;
    min-height:50vh;
    padding:0px 16px 0px 16px;
    display: flex;
    flex-direction: column;
    gap:5vh;
    height: auto;
    
}
.ql-toolbar{
    border-radius: 8px 8px 0px 0px;
    border:1px solid var(--border-color) !important;
    /* background-color: var(--secondary-background); */
}
.ql-toolbar span{
    color:var(--highlight-color) !important;
    background-color: var(--secondary-background);
}
#title-box{
    position: relative;
    padding: 5px;
    padding-left:1vw;
    border-radius: 8px;
    font-size:3rem;
    font-weight: bold;
    border: none;
    background-color: var(--tertiary-background);
    box-shadow: 1px 1px 1px var(--primary-shadow);
}
.generate-button:hover{
    background-color: var(--tertiary-background) !important;
    color: var(--primary-text) !important;
    transition: 0.2s all ease-in-out;
}