.user-card{
    padding-top:10vh;
    padding-left:5vw;
    display: inline-block;
}
.user-info{
    padding: 2vh;
    display: flex;
    align-items: center;
    gap:1vw;
}
.user-info img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
}

.user-info input[type="text"]{
    padding: 2px;
    border-radius: 8px;
    text-align: center;
    border: 1px dashed var(--border-color);
    background-color: rgba(0,0,0,0);
    font-size: 1.5rem;
    width: 100%;
}
.user-info input[type="text"]:hover{
    cursor:pointer;
}