:root{
    --primary-background : rgb(233, 177, 177);
    --secondary-background: rgb(140, 150, 241);
    --primary-shadow: rgb(17, 17, 17);
    --primary-text: rgb(33, 33, 33);
    --secondary-text: rgb(255, 255, 255);
    --highlight-color: rgb(255, 204, 0);
    --border-color: rgb(200, 200, 200);
    --link-color: rgb(0, 102, 204);
}

html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
