:root {
  /* --primary-background : rgb(233, 177, 177);
    --secondary-background: rgb(140, 150, 241);
    --tertiary-background: rgb(213, 217, 247);
    --primary-shadow: rgb(17, 17, 17);
    --primary-text: rgb(33, 33, 33);
    --secondary-text: rgb(255, 255, 255);
    --highlight-color: rgb(255, 204, 0);
    --border-color: rgb(132, 132, 132);
    --link-color: rgb(0, 102, 204); */

  --primary-background: rgb(48, 46, 54);
  --secondary-background: rgb(32, 30, 30);
  --tertiary-background: rgb(230, 230, 230);
  --primary-shadow: rgb(0, 0, 0);
  --primary-text: rgb(0, 0, 0);
  --secondary-text: rgb(146, 227, 203);
  --highlight-color: rgb(197, 227, 218);
  --toastify-color-dark: rgb(197, 227, 218) !important;
  --border-color: rgb(128, 128, 128);
  --link-color: rgb(0, 0, 0);


  /* --primary-background: rgb(0, 0, 0);
  --secondary-background: rgb(34, 34, 34);
  --tertiary-background: rgb(68, 68, 68); 
  --primary-shadow: rgb(0, 0, 0);
  --primary-text: rgb(255, 255, 255); 
  --secondary-text: rgb(200, 200, 200); 
  --highlight-color: rgb(100, 100, 100);
  --border-color: rgb(85, 85, 85);
  --link-color: rgb(255, 255, 255);  */
}
* {
  font-family: monospace;
  color: var(--primary-text);
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  background-color: var(--secondary-background);
  /* overflow: hidden; */
}
.shadow {
  box-shadow: 1px 1px 1px var(--primary-shadow);
}
